@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition : 0.5s;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #303030;
    align-items: center;
    z-index: 1;
}
#header h1 {
    font-size: 20px;
}
#header h1 a {
    text-decoration: none;
    color: #303030;
}
#header h1 a:visited {
    color: #303030;
}

#main {
    padding: 50px 20px;
    min-width: 400px;
}
#main h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 5% 0 0 0;
    text-align: left;
}
#contact1 > div:nth-child(1){
    width : 40%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact1 > div:nth-child(1) label{
    width : 100%;
}
#contact1 > div:nth-child(1) #uploadImg{
    width : 100%;
}
#fileUpload{
    width : 100%;
    display : none;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.list li {
    width: 100%;
    padding: 15px;
    display: inline-block;
    background-color: #efefef;
    border : 2px solid #ffffff;
    /* box-shadow: 0px 0px 10px -3px #909090; */
    /* border-radius: 10px; */
    margin: 10px 0;
    flex: 1 1 100%;
}
form.person {
    display: flex;
    justify-content: space-between;
}
form.person label{ width : 40%; 
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form.person input {
    padding: 5px;
    width: 100%;
    border: none;
    margin: 4px 0;
    border-radius: 7px;
    opacity: 0.7;
}
form.person input:focus {
    outline: none;
    box-shadow: 0px 0px 6px -3px #909090;
    opacity: 1;
}
form.person img.person_photo {
    width: 100%;
    /* border-radius: 10px; */
}
form.person div.person_info {
    width: 60%;
    /* padding: 5%; */
    padding : 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_imgInput{
    display : none;
}
form.person div.person_info .info_name {
    font-weight: 700;
}
form.person div.info_btnarea {
    margin: 10px 0 0 0;
    padding: 2% 0;
    display: flex;
    align-items : end;
    justify-content: space-between;
    flex-grow : 1;
}
form.person div.info_btnarea button {
    margin: 0 1%;
    padding: 5px 10px;
    flex-grow: 1;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    font-weight: 100;
}
form.person div.info_btnarea button:hover {
    box-shadow: 0px 0px 12px -3px #303030;
}
form.person div.info_btnarea button.info_add {
    background-color: #006342;
}
form.person div.info_btnarea button.info_edit {
    background-color: #303030;
}
form.person div.info_btnarea button.info_delete {
    background-color: #d31949;
}

#pagination {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagination li {
    display: flex;

    margin: 2px;
    /* background-color: #efefef; */
    /* border-radius: 10px; */
}
#pagination li:hover {
    box-shadow: 0px 0px 10px -3px #303030;
}
#pagination li a {
    padding: 5px 15px;
    text-decoration: none;
    color: #303030;
}
#pagination li a.now {
    font-weight: 700;
    border : 1px solid #303030;
}

@media screen and (min-width: 800px) {
    .list {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .list li {
        flex: 1 1 40%;
        margin: 3% 2%;
    }
    #listAdd {
    }
}
@media screen and (min-width: 1200px) {
    .list {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .list li {
        flex: 1 1 25%;
        margin: 3% 2%;
    }
}